<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.iallrecycle">
    <!-- Allow the mobile to access to the internet -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Get user locations -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">
        <activity
            android:name=".UserListUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".UserListAddActivity"
            android:exported="false" />
        <activity
            android:name=".UserListActivity"
            android:exported="false" />
        <activity
            android:name=".UserRecordActivity"
            android:exported="false"
            android:label="@string/title_activity_user_record"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".RecycleRecordUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".RecycleRecordEditActivity"
            android:exported="false"
            android:label="@string/title_activity_recycle_record_edit"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".RecycleRecordAddActivity"
            android:exported="false" />
        <activity
            android:name=".AddRecycleRecordActivity"
            android:exported="false" />
        <activity
            android:name=".RecycleRecordActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.iallrecycle.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider" />
        </provider>

        <activity
            android:name=".SuccessScanActivity"
            android:exported="false" />
        <activity
            android:name=".RecycleResultActivity"
            android:exported="false" />
        <activity
            android:name=".ScanQrCodeActivity"
            android:exported="false" />
        <activity
            android:name=".GenerateQrcodeActivity"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAk7PY2VsvHu9U44DYNH9WNBIlrvnTkNkU" />

        <activity
            android:name=".MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".TestGetLocationActivity"
            android:exported="false" />
        <activity
            android:name=".DashboardRecyclerActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterRecycleActivity"
            android:exported="false" />
        <activity
            android:name=".StorageActivity"
            android:exported="false" />
        <activity
            android:name=".NewsUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".NewsAddActivity"
            android:exported="false" />
        <activity
            android:name=".NewsActivity"
            android:exported="false" />
        <activity
            android:name=".DashboardAdminActivity"
            android:exported="false" />
        <activity
            android:name=".DashboardUserActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>